<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  IgnorableNamespaces="uap mp uap4 uap5 rescap uap3 desktop rescap">

	<Identity
	  Name="49452RobinParashar.HyperX"
	  Publisher="CN=DA77D6A3-6719-4BE4-B690-4193F233DE42"
	  Version="1.0.7.0" />

	<mp:PhoneIdentity PhoneProductId="48dbb9e5-b298-4bcc-bb6c-071f469a4d37" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>HyperX</DisplayName>
		<PublisherDisplayName>Robin Parashar</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Team" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0"/>
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="SonicExplorer.App">
			<uap:VisualElements
			  DisplayName="HyperX"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="Smart Search for Windows"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<Extension Category="windows.preInstalledConfigTask" EntryPoint="BackgroundTasks.InstalledConfigTask" />
				<Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.TimerTask">
					<BackgroundTasks>
						<Task Type="timer" />
					</BackgroundTasks>
				</Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name = "extendedBackgroundTaskTime"/>
		<rescap:Capability Name = "broadFileSystemAccess"/>
		<rescap:Capability Name = "documentsLibrary"/>
		<Capability Name="internetClient" />
	</Capabilities>
</Package>